#tituloprincipal {
	color: white;
	background-color:#000000;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;

}

#datossensor{
	position: relative;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	top: 1px;
	bottom: 1px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 150%;
	background-color:#000000;
}

#diayhora{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 150%;
	background-color:black;
}

#error400-404{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 150%;
	background-color:#000000;
	position: relative;
    top: 15px;
}

#imagenutn400-404{
	position: absolute;
	padding-top: 160px;
	padding-left: 420px;

}

